<div class="start container matches-div">
    <h1>Matches List</h1> 

    <table class="styled-table">
        <thead>
            <tr>
                <th>Season Year</th>
                <th>Team1</th>
                <th>Team2</th>
                <th>Stadium</th>
                <th>City</th>
                <th>Team Won</th>
                <th>Win Type</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of matches">
                <td>{{match.season_year}}</td>
                <td>{{match.team1}}</td>
                <td>{{match.team2}}</td>
                <td>{{match.stadium_name}}</td>
                <td>{{match.city_name}}</td>
                <td>{{match.winner}}</td>
                <td>
                    Won by {{match.win_margin}} {{match.win_type}}
                </td>
                <td>
                    <a routerLink="/matches/{{match.match_id}}" routerLinkActive="active">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>