.about {
    margin-top: 8rem;
}

.about__container {
    margin-top: 1rem;
    justify-content: space-around;
    text-align: center;
}

.about__img {
    width: 200px;
    border-radius: .5rem; 
    justify-self: center;
    align-self: center;
}

.about__data{
    text-align: center;
    width: 500px;
}

.about__description {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    line-height: 7mm;
}

.footer {
    bottom: 0;
    text-align: center;
    justify-content: space-around;
}