<section class="about section container" id="about">
    <h2 class="section__title">About The Project</h2>
    <span class="section__subtitle"> Details</span>
  
    <div class="about__container container grid">
        <img src="../../assets/about.jpg" alt="" class="about__img">
  
        <div class="about__data">
            <p class="about__description">
                This project is a web application that provides information about the Indian Premier League (IPL) matches, players and venues, 
                and is developed using Angular, NodeJS and Postgres, and is developed as a part of DBIS Lab (CS387) by Adarsh Raj and Gudipaty Aniket.
            </p>
        </div>
    </div>
</section>
  
<section class="footer section" id="footer">
    <p class="footer__copy">&#169; ...... All right reserved.</p>
</section>