#chart {
    margin: 35px auto;
}

#pie-chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
}

.active{
    transform: scale(1.15);
    margin-left: 20px;
    margin-right: 20px;
}

#card-btn, 
#chart-btn,
#summary-btn {
    cursor: pointer;
}


  