<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <h2>
          <span class="text-white">{{match.innings1_progress[0].team_name}} Vs {{match.innings2_progress[0].team_name}} ({{match.full_info.season_year}})</span>
        </h2>
        <h4>
            <span class="text-white"> {{match.full_info.winner}} Won By {{match.full_info.win_margin}} {{match.full_info.win_type}}</span>
        </h4>

        <!-- Card stats -->
        <div class="row" style="margin-top: 1rem;">
            <div class="col-xl-3 col-lg-6 active" id="card-btn" (click)="scorecard()">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Score Card</h5>
                      <span class="h6 font-weight-bold mb-0">Summary</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6" id="chart-btn" (click)="scorecomp()">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Score Comparison</h5>
                        <span class="h6 font-weight-bold mb-0">Over By Over Chart</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                          <i class="fas fa-chart-bar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-6" id="summary-btn" (click)="summary()">
                <div class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Match Summary</h5>
                        <span class="h6 font-weight-bold mb-0">Overall</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                          <i class="fas fa-chart-bar"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>
<!-- Main content -->

<div id="score-modal" style="display: block;">
  <div class="container-fluid mt--7" style="margin-top:-5rem !important;">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">First Inning: {{match.innings1_progress[0].team_name}} Batting First</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Batter</th>
                    <th scope="col">Runs</th>
                    <th scope="col">Fours</th>
                    <th scope="col">Sixes</th>
                    <th scope="col">Balls Faced</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let batter of match.innings1_batting">
                    <th scope="row">
                        <a routerLink="/players/{{batter.player_id}}" routerLinkActive="active">{{batter.player_name}}</a>
                    </th>
                    <td>{{batter.runs}}</td>
                    <td>{{batter.fours}}</td>
                    <td>{{batter.sixes}}</td>
                    <td>{{batter.balls}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 1rem;">
        <div class="col">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                </div>
                <div class="col">
                    <h4>Total Runs Scored: {{match.innings1_score_extras[0].total}}</h4>
                    <h5>Extra Runs: {{match.innings1_score_extras[0].extras}}</h5>
                    <h5>Wickets: {{match.innings1_score_extras[0].wickets}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row"  style="margin-top: 1rem;">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">First Inning: {{match.innings2_progress[0].team_name}} Bowling First</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Bowler</th>
                    <th scope="col">Balls Bowled</th>
                    <th scope="col">Runs Given</th>
                    <th scope="col">Wickets Taken</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of match.innings1_bowling">
                        <th scope="row">
                            <a routerLink="/players/{{b.player_id}}" routerLinkActive="active">{{b.bowler}}</a>
                        </th>
                        <td>{{b.balls}}</td>
                        <td>{{b.runs}}</td>
                        <td>{{b.wickets}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7" style="margin-top: 2rem !important;">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Second Inning: {{match.innings2_progress[0].team_name}} Batting</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Batter</th>
                    <th scope="col">Runs</th>
                    <th scope="col">Fours</th>
                    <th scope="col">Sixes</th>
                    <th scope="col">Balls Faced</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let batter of match.innings2_batting">
                    <th scope="row">
                        <a routerLink="/players/{{batter.player_id}}" routerLinkActive="active">{{batter.player_name}}</a>
                    </th>
                    <td>{{batter.runs}}</td>
                    <td>{{batter.fours}}</td>
                    <td>{{batter.sixes}}</td>
                    <td>{{batter.balls}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 1rem;">
        <div class="col">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                </div>
                <div class="col">
                    <h4>Total Runs Scored: {{match.innings2_score_extras[0].total}}</h4>
                    <h5>Extra Runs: {{match.innings2_score_extras[0].extras}}</h5>
                    <h5>Wickets: {{match.innings2_score_extras[0].wickets}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row"  style="margin-top: 1rem;">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Second Inning: {{match.innings1_progress[0].team_name}} Bowling</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Bowler</th>
                    <th scope="col">Balls Bowled</th>
                    <th scope="col">Runs Given</th>
                    <th scope="col">Wickets Taken</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let b of match.innings2_bowling">
                        <th scope="row">
                            <a routerLink="/players/{{b.player_id}}" routerLinkActive="active">{{b.bowler}}</a>
                        </th>
                        <td>{{b.balls}}</td>
                        <td>{{b.runs}}</td>
                        <td>{{b.wickets}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 2rem !important;">
  <div class="row" style="margin-top: 1rem;">
    <div class="col">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <h3>Match Information</h3>
            <div class="col">
                <ul>
                  <li> Match Id: {{match.full_info.match_id}}</li>
                  <li>{{match.innings1_progress[0].team_name}} Vs {{match.innings2_progress[0].team_name}}</li>
                  <li>Season Year: {{match.full_info.season_year}}</li>
                  <li>Toss: {{match.match_info_without_11[0].toss_winner}} won and chose to {{match.match_info_without_11[0].toss_name}} first</li>
                  <li>Venue: {{match.full_info.stadium_name}}, {{match.full_info.city_name}}</li>
                  <li>Umpire: {{match.match_info_without_11[0].umpire_name}}</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem !important;">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Playing 11</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{match.innings1_progress[0].team_name}}</th>
                <th scope="col">{{match.innings2_progress[0].team_name}}</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of playing_11">
                    <td>{{p.team1_player}}</td>
                    <td>{{p.team2_player}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="chart-modal" style="display: none">
  <div class="container-fluid mt--7" style="margin-top:-5rem !important;">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-4">Score Comparison (Runs Vs Overs)</h3>
          </div>
          <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [stroke]="chartOptions.stroke"
              [colors]="chartOptions.colors"
              [dataLabels]="chartOptions.dataLabels"
              [legend]="chartOptions.legend"
              [markers]="chartOptions.markers"
              [grid]="chartOptions.grid"
              [yaxis]="chartOptions.yaxis"
              [title]="chartOptions.title"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="summary-modal" style="display: none;">
  <div class="container-fluid mt--7" style="margin-top:-5rem !important;">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Match Summary</h3>
          </div>
          
          <div id="pie-chart" class="pie-chart1">
                <apx-chart
                  [series]="piechartOptions.series"
                  [chart]="piechartOptions.chart"
                  [labels]="piechartOptions.labels"
                  [title]="piechartOptions.title"
                  [responsive]="piechartOptions.responsive"
                ></apx-chart>
          </div>
      
          <div id="pie-chart" class="pie-chart2">
                  <apx-chart
                    [series]="piechartOptions2.series"
                    [chart]="piechartOptions2.chart"
                    [labels]="piechartOptions2.labels"
                    [title]="piechartOptions2.title"
                    [responsive]="piechartOptions2.responsive"
                ></apx-chart>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>