<header class="header" id="header">
  <nav class="nav container">
      <a routerLink="/home" routerLinkActive="active" class="nav__logo">IITCricInfo</a>
      <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
              <li>
                  <a routerLink="/home" routerLinkActive="active" class="nav__link active-link">
                      <i class="uil uil-estate nav__icon"></i> Home
                  </a>
              </li>

              <li>
                <a routerLink="/matches" routerLinkActive="active" class="nav__link">
                    <i class="uil uil-bowling-ball nav__icon"></i> Matches
                </a>
              </li>

              <li>
                  <a routerLink="/players" routerLinkActive="active" class="nav__link">
                      <i class="uil uil-user nav__icon"></i> Players
                  </a>
              </li>

              <li>
                  <a routerLink="/pointstable" routerLinkActive="active" class="nav__link">
                      <i class="uil uil-file-alt nav__icon"></i> Points Table
                  </a>
              </li>

              <li>
                  <a routerLink="/venues" routerLinkActive="active" class="nav__link">
                      <i class="uil uil-building nav__icon"></i> Venues
                  </a>
              </li>
          </ul>
      </div>
  </nav>
</header>


