.btn {
    background-color: #5d69d8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.line-chart {
    max-width: 600px;
    margin: 35px auto;
}